/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: #EEF1FA;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* navbar css */

.navbar {
  width: 100%;
}

.navbar-nav a {
  font-size: larger;
  font-family: 'Lora', serif;
}

.navbar img {
  width: 5%;
  min-width: 100px;

}


/* banner css */
.banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 85vh;
  max-height: 150vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white;
  font-size: 250%;
  width: 150%;
  margin: 0 0 0;
}

.banner h2 {
  color: #d25099;
  font-weight: bolder;
  font-size: 350%;
  width: 100%;
  margin: 0 0 0;
}

.banner h5 {
  color: white;
  width: 140%;
  margin: 0 -25% 0;
  text-align: center;
  /* font-weight: 900px; */
}


.container-banner {
  width: 40%;
  height: 40%;
  margin: 0 auto 0;
  margin-bottom: 2%;
}

.container-banner h1{
  font-family: 'Tangerine', serif;
  font-size: 65px;
  text-shadow: 4px 4px 4px #aaa;
}

.container-banner h2 {
  font-family:'Lora', serif;
  text-align: center;
}
.container-banner h5 {
  font-family:'Lora', serif;
  text-align:center;
  line-height: 150%;
}

.banner a {
  padding: 5px 15px 5px;
  margin: 0 0 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 175%;
  font-weight: bolder;
  border: 1px solid gray;
  background: 0;
  color: black;
  cursor: pointer;
  transition: all .3s;
  background-color: rgb(224, 216, 216);
  border-radius: 10%;
  text-decoration: none;
}

/* presentation css */

.presentation {
  margin-bottom: 2%;
  display: flex;
  text-align: justify;
}

.presentation h1{
  font-family:'Lora', serif;
  font-weight: bolder;
  width: 100%;
}

.presentation p {
  font-family: 'Lora', serif;
  line-height: 225%;
  font-size: 105%;
}

.linea {
  border-top: 1px solid #d25099;
  height: 4px;
  padding: 0;
  margin: 20px auto 0 auto;
  font-weight: bolder;
}

.text-presentation {
  color:#d25099;
  font-weight: bold;
  padding: 0px 1% 0px;
  width: 125%;
  line-height: 175%;
}

.presentation-img p {
  color: #d25099;
}

.presentation-img img {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
  /* max-height: 1200px; */
}

.carousel-item img {
  object-fit: cover;
}

/* courses css */

.container-courses {
  width: 30%;
  margin: 30 30 ;
}

.btn-primary {
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.text-center-courses {
  text-align: center;
  font-size: 55px;
  text-decoration:underline;
  font-family:'Lora', serif;
}

.text-end {
  text-align: end;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cards h4 {
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size: 163%;
}

.cards p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 115%;
  text-align: center;
}

.card {
  width: 400px;
  border-radius: 5%;
  box-shadow: 10px 10px 40px -28px #000;
  text-align: center;
  border: 1px solid rgb(230,230,230);
  height: 500px;
}

.card-background {
  padding: 7%;
  height: 100%;
}

.card h4 {
  padding: 25px 0px 0px;
}

.card img {
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
}

.card p {
  opacity: .5;
  font-weight: 600;
  color: black;
  padding:  6% 0% 0%;
}

/* sessions css */

.sessions-list ul {
  font-size: 200%;
}

.sessions-list {
  background: linear-gradient( rgba(0, 0, 0, 0.005), rgba(0, 0, 0, 0.005) ), url('/images/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.sessions-list h2 {
  color: black;
  font-weight:600;
}

/* form css */

.form-wb {
  width:450px;
  height: 520px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 8% auto;
  padding: 2%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.form-wb h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: grey;
  border-bottom: 3px solid black;

}

.form-wb input {
width: 100%;
padding: 10px;
box-sizing: border-box;
background: none;
outline: none;
resize: none;
border: 0;
font-family: "Montserrat", sans-serif;
transition: all .3s;
border-bottom: 2px solid grey;

}

.form-wb input:focus {
border-bottom: 2px solid lightblue;
}

.form-wb p:before{
content: attr(type);
display: block;
margin: 28px 0 0;
font-size: 14px;
color: gray;

}

.form-wb button{
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid gray;
  background: 0;
  color: black;
  cursor: pointer;
  transition: all .3s;
}

.form-wb button:hover {
background: gray;
color: white;
}

.form-wb div {
  position: absolute;
  bottom: -30px;
  right: -40px;
  background: black;
  color: white;
  width: 340px;
  padding: 16px 4px 16px;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
  margin: 10px;
}

.form-wb span {
  margin: 0 5px 0 15px;
}

/* wp css */

.whatsapp-icon {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:40px;
  z-index:100;
  padding: 6px;
}

/* footer css */

.footer {
  text-align: center;
  padding: 60px;
  background-color: #208AAE;
}

.footer a {
  font-size: 40px;
  color: #9d069f;
  padding: 0px 10px 0px;
}

.footer p {
  padding: 10px 0px 0px;
}

.footer-wp a {
  font-size: 30px;
  color: #60435F;
}
